#habilidades{
  margin-top: 20px;
  background-color: #000000;
  box-shadow: 3px 3px #f7f7f7;
  border-radius: 1ch;
  justify-content: center;
  padding: 20px;
  width: 90%;
  text-align: center;
}

#habi-ti {
  font-weight: 400;
  font-size: 30px;
  margin: 0px;
  color:#b4c0bb;
}

#habi-texto {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #a1aaa6;
  height: 20%;
  font-size: 20px;
}

.icons {
  margin: 5px;
}


