.sobre {
  align-items: center;
  background-color: #000000;
  box-shadow: 3px 3px #f7f7f7;
  border: solid 0.1ch rgba(119, 107, 107, 0.527);
  border-radius: 1ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 20px;
}

#sobre {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#space-photo {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-around;
  padding-top: 10px;
}
#foto{
  height: 200px;
  width: 185px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.texto-sobre {
  padding: 0 0 0 10px;
  color: #d6d1d1d3;
  text-align: center;
}

#sobre-text {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
}

#sobre-text::first-line {
  font-size: 35px;
  font-weight: 400;
  color: #d6d1d1f1;
}

#menu {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  font-size: 21px;
  height: 12%;
  width: 50%;
}

.links-nav {
  color: #b4c0bb;
  text-decoration: none;
  width: 160px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.links-nav:hover {
  display: flex;
  color: #b4c0bb;
  text-decoration: none;
  background-color: #5f0979;
  border-radius: 1cm;
  width: 160px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  transform: scale(1.1);
} 