@media screen and (max-width: 800px) {
  #links-contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .links-modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #rede-1, #rede-2 {
    width: 100%;
    height: 50px;
    border-radius: 8em;
  }

  #btn-close-area {
    display: flex;
  }
  
  #btn-close {
    background-color: transparent;
    border: none;
    outline: none;
    color: #3f3e3e;
    font-size: 20px;
    padding: 15px;
  }
  
  #btn-close:hover {
    background-color: #3f3e3e;
    color: #d6d1d1d3;
    border-radius: 0.2cm;

  }
}

@media screen and (min-width: 800px) {
  #links-contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .links-modal {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #rede-1, #rede-2 {
    width: 100%;
    height: 50px;
    border-radius: 8em;
  }

  #btn-close-area {
    display: flex;
    justify-content: right;
    width: 100%;
  }
  
  #btn-close {
    background-color: transparent;
    border: none;
    outline: none;
    color: #3f3e3e;
    font-size: 20px;
    padding: 15px;
  }
  
  #btn-close:hover {
    background-color: #3f3e3e;
    color: #d6d1d1d3;
    border-radius: 0.2cm;
  }

}