@media screen and (max-width: 800px) {

  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background-color: #141414;
    height: 40%;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  #dialogContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 88%;
  }


  .links-modal {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #rede-1, #rede-2 {
    width: 90%;
    height: 50px;
    border-radius: 8em;
  }

  #btn-close-area {
    display: flex;
    justify-content: right;
  }
  
  #btn-close {
    background-color: transparent;
    border: none;
    outline: none;
    color: #3f3e3e;
    font-size: 20px;
  }
  
  #btn-close:hover {
    background-color: #3f3e3e;
    color: #d6d1d1d3;
    border-radius: 0.2cm;
  }
}

@media screen and (min-width: 800px) {

  #dialogContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    background-color: #141414;

  }

  #links-contatos {
    border-radius: 5ch;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    max-width: 850px;
    max-height: 98px;
  }

  .links-modal {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #rede-1, #rede-2 {
    width: 90%;
    height: 50px;
    border-radius: 8em;
  }

  #btn-close-area {
    display: flex;
    justify-content: right;
    width: 100%;
  }
  
  #btn-close {
    background-color: transparent;
    border: none;
    outline: none;
    color: #3f3e3e;
    font-size: 20px;
  }
  
  #btn-close:hover {
    background-color: #3f3e3e;
    color: #d6d1d1d3;
    border-radius: 0.2cm;
  }

}