@media screen and (max-width: 800px) {
    #dialogContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 88%;
    }
}

@media screen and (min-width: 800px) {
    #dialogContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 88%;
    }
}