#links-modal {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 90%;
  position: absolute;
  top: 85%;
}

#modal-button {
  width: 130px;
  color:#e99ff8;
}

a {
  color: #aa90bb;
}

#btn-close-area {
  display: flex;
  justify-content: right;
}

#btn-close {
  background-color: transparent;
  border: none;
  outline: none;
  color: #3f3e3e;
  font-size: 20px;
}

#btn-close:hover {
  background-color: #3f3e3e;
  color: #d6d1d1d3;
  border-radius: 0.2cm;
}